.wp-block-columns {
  &:not(.alignwide):not(.alignfull) {
    clear: both;
  }

  .wp-block-column {
    > * {
      margin-top: calc(0.66 * var(--global--spacing-vertical));
      margin-bottom: calc(0.66 * var(--global--spacing-vertical));

      @include media(mobile) {
        margin-top: var(--global--spacing-vertical);
        margin-bottom: var(--global--spacing-vertical);
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .wp-block-column:not(:last-child) {
    margin-bottom: calc(0.66 * var(--global--spacing-vertical));

    @include media(mobile) {
      margin-bottom: var(--global--spacing-vertical);
    }

    @include media(desktop) {
      margin-bottom: 0;
    }
  }

  &.is-style-twentytwentyone-columns-overlap {
    justify-content: space-around;

    @include media(laptop) {
      .wp-block-column {
        &:nth-child(2n) {
          margin-left: calc(-2 * var(--global--spacing-horizontal));
          margin-top: calc(2.5 * var(--global--spacing-horizontal));
          z-index: 2;

          // Provide text-based child blocks with a default background color to ensure they're readable.
          > p,
          > h1,
          > h2,
          > h3,
          > h4,
          > h5,
          > h6,
          > ul,
          > ol,
          > pre {
            &:not(.has-background) {
              background-color: var(--global--color-background);
              padding: var(--global--spacing-unit);
            }
          }

          // Lists should still have their usual left padding.
          > ul:not(.has-background),
          > ol:not(.has-background) {
            padding-left: calc(2 * var(--global--spacing-horizontal));
          }

          &.is-vertically-aligned-center {
            margin-top: 0;
          }
        }
      }
    }
  }

  &.alignfull {
    .wp-block-column {
      p:not(.has-background),
      h1:not(.has-background),
      h2:not(.has-background),
      h3:not(.has-background),
      h4:not(.has-background),
      h5:not(.has-background),
      h6:not(.has-background) {
        padding-left: var(--global--spacing-unit);
        padding-right: var(--global--spacing-unit);
      }
    }
  }
}

.feature-grants {
  div,
  .wp-block-column {
    border: var(--global--color-purple) 3px solid;
    padding: 15px 20px 15px 15px;

    h4 {
      margin-bottom: 0;
    }
    hr {
      border-width: 3px;
      border-color: var(--global--color-purple);
      margin: 0;
    }
    .grant--title {
      margin-bottom: 0;
    }
    .grant--info {
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      strong {
        color: var(--global--color-purple);
      }
      li {
        padding-right: 15px;
      }
    }
    p {
      margin: 15px 0;
    }
    .grant--logo {
      max-width: 200px;
      margin: 15px;
    }
  }
}

.pre-footer {
  &--news {
    padding-left: 15px;
    border-left: var(--global--color-primary);
    &--item {
      list-style: none;
      padding-left: 0;
      h3 {
        font-weight: 700;
      }
    }
  }
  &--events {
    ul.upcoming-events li {
      h3 {
        font-weight: 700;
      }
      li.date {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 700;
      }
      li p {
        line-height: 1.1;
        padding-bottom: 15px;
        font-size: 18px;
      }
      li:last-child a {
        text-align: right;
      }
    }
  }
}

.grant-search--header {
  background-color: var(--global--color-primary);
  color: #fff;
  .wp-block-group__inner-container .searchandfilter {
    @extend %responsive-alignwide-width;
  }
}

// STICKY NAV

.sticky-nav {
  display: flex;
  flex-direction: column;
  @include media(tablet) {
    flex-direction: row;
  }
  &--nav {
    width: 100%;
    text-align: center;
    list-style: none;
    font-weight: 700;
    padding-left: 0;
    padding-bottom: 2rem;
    @include media(tablet) {
      text-align: left;
      min-width: 350px;
      position: sticky;
      top: 80px;
      height: 100%;
      padding-right: 15px;
      padding-bottom: 0;
    }
    li {
      width: 100%;
      color: var(--global--color-primary);
      transition: (background-color, 0.5s, ease-in-out);
      padding: 10px 15px 10px 15px;
      &:hover,
      &:focus,
      &:active {
        background-color: var(--global--color-primary);
      }
      &.active {
        background-color: var(--global--color-primary);
      }
      &.active ~ li.active {
        background-color: #fff;
        a {
          color: var(--global--color-primary);
        }
      }
      &:hover a,
      &:focus a,
      &:active a,
      &.active a {
        color: #fff;
        text-decoration: underline;
      }
      a {
        width: 100%;
        color: var(--global--color-primary);
        text-decoration: none;
      }
    }
  }

  &--item {
    padding-top: 1rem;
    margin-top: 2rem;
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: var(--global--color-primary);
    }
    a:hover {
      color: var(--global--color-primary);
    }
    h3 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    ul li {
      padding-bottom: 1rem;
    }
    &:first-child {
      padding-top: 0;
      margin-top: 0;
      h3 {
        padding-top: 0;
      }
    }
  }
}
