// Footer
.site-footer {
  padding-top: 0;
  padding-bottom: calc(1.7 * var(--global--spacing-vertical));
  @extend %responsive-alignwide-width;
  background-color: var(--global--color-purple);
  color: #fff;
  max-width: var(--responsive--alignfull-width);
  display: flex;
  flex-direction: column-reverse;
  @include media(tablet) {
    flex-direction: row-reverse;
  }
}

// Footer Branding
.site-footer > .site-info {
  padding-top: var(--global--spacing-vertical);
  color: #fff;
  font-family: var(--footer--font-family);
  font-size: var(--footer--font-size);
  line-height: var(--global--line-height-body);
  //border-top: 3px solid var(--global--color-border);
  max-width: var(--responsive--alignwide-width);
  @include media(tablet) {
    margin: 0 0 0 auto;
  }

  .site-name {
    text-transform: var(--branding--title--text-transform);
    font-size: var(--branding--title--font-size);
    width: 150px;
    @include media(tablet) {
      padding-left: 2rem;
    }
    .footer-logo {
      padding-bottom: 15px;
    }
  }

  .powered-by {
    margin-top: calc(0.5 * var(--global--spacing-vertical));
  }

  @include media(desktop) {
    display: flex;
    align-items: center;

    .powered-by {
      margin-top: initial;
      margin-left: auto;
    }
  }

  a {
    color: var(--footer--color-link);

    &:link,
    &:visited,
    &:active {
      color: var(--footer--color-link);
    }

    &:hover {
      color: var(--footer--color-link-hover);
    }

    &:focus {
      color: var(--footer--color-link-hover);

      .is-dark-theme & {
        color: var(--wp--style--color--link, var(--global--color-background));
      }

      // Change colors when the body background is white.
      .has-background-white & {
        color: var(--wp--style--color--link, var(--global--color-white));
      }
    }
  }
}
